# Reporte de Ventas

Este notebook contiene un an√°lisis de las ventas.

## Dashboard Principal

A continuacion se muestra el dashboard principal con todas las visualizaciones clave.

![Dashboard Principal](../images/dashboard.png)

## Net Revenue

In [1]:
import pandas as pd

df_net_revenue = pd.DataFrame([{'product_line': 'Braking system', 'month': 'June', 'warehouse': 'Central', 'net_revenue': 6261.14}, {'product_line': 'Braking system', 'month': 'June', 'warehouse': 'North', 'net_revenue': 3219.45}, {'product_line': 'Braking system', 'month': 'June', 'warehouse': 'West', 'net_revenue': 1987.64}, {'product_line': 'Braking system', 'month': 'July', 'warehouse': 'Central', 'net_revenue': 6841.33}, {'product_line': 'Braking system', 'month': 'July', 'warehouse': 'West', 'net_revenue': 4248.18}, {'product_line': 'Braking system', 'month': 'July', 'warehouse': 'North', 'net_revenue': 4199.59}, {'product_line': 'Braking system', 'month': 'August', 'warehouse': 'Central', 'net_revenue': 4687.49}, {'product_line': 'Braking system', 'month': 'August', 'warehouse': 'West', 'net_revenue': 3732.72}, {'product_line': 'Braking system', 'month': 'August', 'warehouse': 'North', 'net_revenue': 3167.56}, {'product_line': 'Electrical system', 'month': 'June', 'warehouse': 'Central', 'net_revenue': 6374.91}])
df_net_revenue

        product_line   month warehouse  net_revenue
0     Braking system    June   Central      6261.14
1     Braking system    June     North      3219.45
2     Braking system    June      West      1987.64
3     Braking system    July   Central      6841.33
4     Braking system    July      West      4248.18
5     Braking system    July     North      4199.59
6     Braking system  August   Central      4687.49
7     Braking system  August      West      3732.72
8     Braking system  August     North      3167.56
9  Electrical system    June   Central      6374.91

![Net Revenue](../images/../images/net_sales_by_product_line_&_month.png)

## Seasonality

In [2]:
import pandas as pd

df_seasonality = pd.DataFrame([{'month': 'June', 'product_line': 'Suspension & traction', 'total_sales': 26084.77}, {'month': 'June', 'product_line': 'Frame & body', 'total_sales': 24878.7}, {'month': 'June', 'product_line': 'Electrical system', 'total_sales': 12010.7}, {'month': 'June', 'product_line': 'Engine', 'total_sales': 11701.44}, {'month': 'June', 'product_line': 'Braking system', 'total_sales': 11469.92}, {'month': 'June', 'product_line': 'Miscellaneous', 'total_sales': 9174.5}, {'month': 'July', 'product_line': 'Suspension & traction', 'total_sales': 23512.93}, {'month': 'July', 'product_line': 'Frame & body', 'total_sales': 18468.81}, {'month': 'July', 'product_line': 'Braking system', 'total_sales': 15290.89}, {'month': 'July', 'product_line': 'Electrical system', 'total_sales': 14967.0}, {'month': 'July', 'product_line': 'Miscellaneous', 'total_sales': 10963.32}, {'month': 'July', 'product_line': 'Engine', 'total_sales': 10344.96}, {'month': 'August', 'product_line': 'Frame & body', 'total_sales': 25677.22}, {'month': 'August', 'product_line': 'Suspension & traction', 'total_sales': 23416.51}, {'month': 'August', 'product_line': 'Electrical system', 'total_sales': 16635.01}, {'month': 'August', 'product_line': 'Engine', 'total_sales': 15898.98}, {'month': 'August', 'product_line': 'Braking system', 'total_sales': 11589.34}, {'month': 'August', 'product_line': 'Miscellaneous', 'total_sales': 7028.0}])
df_seasonality

     month           product_line  total_sales
0     June  Suspension & traction     26084.77
1     June           Frame & body     24878.70
2     June      Electrical system     12010.70
3     June                 Engine     11701.44
4     June         Braking system     11469.92
5     June          Miscellaneous      9174.50
6     July  Suspension & traction     23512.93
7     July           Frame & body     18468.81
8     July         Braking system     15290.89
9     July      Electrical system     14967.00
10    July          Miscellaneous     10963.32
11    July                 Engine     10344.96
12  August           Frame & body     25677.22
13  August  Suspension & traction     23416.51
14  August      Electrical system     16635.01
15  August                 Engine     15898.98
16  August         Braking system     11589.34
17  August          Miscellaneous      7028.00

![Seasonality](../images/../images/seasonality_&_purchasing_patterns.png)

## Payment Methods

In [3]:
import pandas as pd

df_payment_methods = pd.DataFrame([{'payment': 'Cash', 'total_revenue': 19199.1, 'total_fees': 0.0}, {'payment': 'Transfer', 'total_revenue': 159642.33, 'total_fees': 2.25}, {'payment': 'Credit card', 'total_revenue': 110271.57, 'total_fees': 19.77}])
df_payment_methods

       payment  total_revenue  total_fees
0         Cash       19199.10        0.00
1     Transfer      159642.33        2.25
2  Credit card      110271.57       19.77

![Payment Methods](../images/../images/revenue_by_payment_method.png)

## Warehouse Performance

In [4]:
import pandas as pd

df_warehouse_performance = pd.DataFrame([{'warehouse': 'Central', 'products_quantity': 4527.0, 'avg_products': 9.43, 'net_revenue': 141972.13}, {'warehouse': 'North', 'products_quantity': 3254.0, 'avg_products': 9.57, 'net_revenue': 100196.26}, {'warehouse': 'West', 'products_quantity': 1614.0, 'avg_products': 8.97, 'net_revenue': 46922.59}])
df_warehouse_performance

  warehouse  products_quantity  avg_products  net_revenue
0   Central             4527.0          9.43    141972.13
1     North             3254.0          9.57    100196.26
2      West             1614.0          8.97     46922.59

![Warehouse Performance](../images/../images/margin_&_performance.png)

## Product Line Performance

In [5]:
import pandas as pd

df_product_line_performance = pd.DataFrame([{'product_line': 'Suspension & traction', 'products_quantity': 2145.0, 'revenue_per_unit': 34.04, 'avg_total': 320.24, 'net_revenue': 73009.11}, {'product_line': 'Frame & body', 'products_quantity': 1619.0, 'revenue_per_unit': 42.63, 'avg_total': 415.81, 'net_revenue': 69021.08}, {'product_line': 'Electrical system', 'products_quantity': 1698.0, 'revenue_per_unit': 25.68, 'avg_total': 225.97, 'net_revenue': 43608.4}, {'product_line': 'Braking system', 'products_quantity': 2130.0, 'revenue_per_unit': 18.0, 'avg_total': 166.74, 'net_revenue': 38345.1}, {'product_line': 'Engine', 'products_quantity': 627.0, 'revenue_per_unit': 60.52, 'avg_total': 622.06, 'net_revenue': 37943.99}, {'product_line': 'Miscellaneous', 'products_quantity': 1176.0, 'revenue_per_unit': 23.1, 'avg_total': 222.67, 'net_revenue': 27163.3}])
df_product_line_performance

,product_line,products_quantity,revenue_per_unit,avg_total,net_revenue
0,Suspension & traction,2145.0,34.04,320.24,73009.11
1,Frame & body,1619.0,42.63,415.81,69021.08
2,Electrical system,1698.0,25.68,225.97,43608.40
3,Braking system,2130.0,18.00,166.74,38345.10
4,Engine,627.0,60.52,622.06,37943.99
5,Miscellaneous,1176.0,23.10,222.67,27163.30

![Product Line Performance](../images/../images/product_lines.png)